:root {
    /*Basic Colors*/
    --white: #ffffff;
    --success: #22ce8b;
    --success-lite: lighten(var(--success), 10%);
    --error: #f46363;
    --error-lite: rgba(245, 109, 109, 0.1);
    --warning: #ffcd54;
    /*Text Colors*/
    --text-primary: #040e28;
    --text-secondary: #646d82;
    --disabled: #a6b1c2;
    --shadow-color: rgba(148, 148, 148, 0.25);
    /*Background Greys*/
    --bg-grey-dark: #dce1ea;
    --bg-grey-medium: #e6eaf0;
    --bg-grey-light: #f0f2f7;
    --bg-grey-lighter: #f9fafc;
    --color-blue-lite: rgba(0, 110, 255, 0.1);
    --color-blue-liter: rgba(0, 110, 255, 0.02);
    --color-green-lite: rgba(34, 206, 139, 0.1);
    --color-orange-lite: rgba(255, 173, 48, 0.1);
    --main-bg-color: var(--bg-grey-light);
    /*Table Colors*/
    --table-row-hover: #d8e5f1;
    /*button colors*/
    --primary-button-color: #1f7fff;
    --primary-button-hover-state: #3fa9f5;
    --primary-button-pressed-state: #0071bc;
    --primary-button-lite: rgba(0, 99, 233, 0.1);
    --primary-button-lite-hover-state: rgba(0, 99, 233, 0.2);
    --primary-button-lite-pressed-state: rgba(0, 99, 233, 0.3);
    --hollow-button-border: #e9ecf2;
    --hollow-button-hover-bg: #fafafb;
    --green-button-hover-bg: #1ebd80;
    --green-button-pressed-bg: #19ac73;
    --green-button-lite: rgba(34, 206, 139, 0.1);
    --green-button-lite-hover: rgba(20, 201, 131, 0.2);
    --green-button-lite-pressed: rgba(20, 201, 131, 0.3);
    --red-button-hover: #dd5252;
    --red-button-pressed: #d64343;
    --red-button-lite: rgba(244, 99, 99, 0.3);
    --red-button-lite-hover: rgba(244, 99, 99, 0.4);
    --red-button-lite-pressed: rgba(244, 99, 99, 0.5);
    --input-disabled-bg: var(--bg-grey-lighter);
  }
  
  /*shadow rules*/
  .shadow {
    -webkit-box-shadow: 0 8px 16px var(--shadow-color);
    -moz-box-shadow: 0 8px 16px var(--shadow-color);
    box-shadow: 0 8px 16px var(--shadow-color);
  }
  
  /*html element level style rules*/
  html {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1.4rem;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  li {
    outline: 0;
  }
  
  #app {
    padding: 20px;
  }
  .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    outline: 0;
    border: 0;
    img {
      padding-right: 10px;
    }
  }
  .btn-blue {
    background: var(--primary-button-color);
    color: #fff;
    &:active {
      background: var(--primary-button-pressed-state);
    }
    &:hover {
      background: var(--primary-button-hover-state);
    }
  }
  .btn-hollow {
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: var(--text-primary);
    cursor: pointer;
    &:hover {
      border: 0.1rem solid #eee;
      background-color: #fff;
    }
    outline: 0;
  }
  .btn-grey-outline {
    border: 1px solid #aaa;
  }
  .btn-x0 {
    padding: 5px 10px;
  }
  /***** DROP DOWN MENU STYLE RULES *****/
  .dropdown-wrap {
    position: relative;
  }
  .dropdown-wrap .dropdown-menu {
    display: block;
    position: absolute;
    width: max-content;
    right: 0;
    top: 2.3rem;
    z-index: 1;
    background-color: var(--white);
    padding: 0.3rem 0;
  }
  .dropdown-wrap .dropdown-menu li {
    cursor: pointer;
    padding: 0.3rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg-grey-light);
    min-height: 3rem;
  }
  .dropdown-wrap .dropdown-menu li:hover {
    background-color: var(--bg-grey-lighter);
  }
  .dropdown-wrap .dropdown-menu li svg {
    margin-right: 1rem;
    display: inline;
  }
  .dropdown-wrap .dropdown-menu .ddmenu-active {
    color: var(--primary-button-color);
  }
  
  .clickable {
    cursor: pointer;
  }
  .search-wrap {
    display: flex;
    border-radius: 2px;
    border: 1px solid var(--bg-grey-dark);
    background-color: var(--bg-grey-lighter);
    width: 300px;
  }
  .search-wrap input {
    border: 0px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0 !important;
    width: 100%;
    outline: 0;
    background-color: var(--bg-grey-lighter);
    font-size: 1.4rem;
    color: var(--text-secondary);
  }
  .search-wrap select {
    outline: 0;
    border: 0px;
    background-color: var(--bg-grey-light);
    font-size: 1.4rem;
    color: var(--text-secondary);
    margin-right: 10px;
  }
  .search-wrap select > option {
    font-size: 1.6rem;
    color: var(--text-secondary);
    background: #f8f8f8;
    line-height: 2;
    outline: 0;
  }
  
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .table-wrap {
    width: 100%;
    background: #fff;
    font-size: 1.6rem;
  
    .pre-table {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .table-titles {
        .table-title {
          font-size: 3rem;
          font-weight: bold;
          color: var(--text-secondary);
        }
      }
      .table-ctas {
        display: flex;
      }
    }
    .tr {
      display: grid;
      margin-bottom: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-auto-columns: 1fr;
      grid-auto-rows: auto;
      grid-auto-flow: column;
      border-radius: 0.2rem;
      padding: 0.3rem 1rem;
    }
    .tbody {
      background: var(--color-blue-liter);
      border: 1px solid var(--color-blue-lite);
    }
    .th {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      font-weight: normal;
      padding: 10px 15px;
      box-sizing: border-box;
      color: var(--text-secondary);
      grid-column: span 10;
      border-radius: 7px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: var(--bg-grey-lighter);
        border-bottom: 2px solid var(--color-blue-lite);
      }
    }
  
    .td {
      display: flex;
      align-items: center;
      vertical-align: center;
      text-align: left;
      min-height: 3.5rem;
      color: var(--text-primary);
      padding: 2px 15px;
      box-sizing: border-box;
      font-size: 1.3rem;
      grid-column: span 10;
    }
  }
  .td-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 1;
  }
  .td-actions svg {
    cursor: pointer;
  }
  .table-subtitle {
    font-size: 1.4rem;
    color: var(--disabled);
    font-style: italic;
  }
  .tbl-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 5px 0;
  }
  .td-edit-input {
    padding: 8px;
    outline: 0px;
    border: 1px solid rgb(238, 238, 238);
  }
  
  .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.02);
    top: 0;
    left: 0;
  }
  
  @media only screen and (max-width: 650px) {
    .table-wrap {
      .pre-table {
        flex-flow: column;
        align-items: center;
        .table-ctas {
          margin: 20px 0;
        }
      }
    }
    .tbl-controls {
      flex-flow: column;
      align-items: center;
      .tbl-pagination {
        margin: 20px 0;
      }
    }
    .thead {
      display: none !important;
    }
    .table-wrap .tr {
      display: block;
      -webkit-box-shadow: 0 4px 8px var(--shadow-color);
      -moz-box-shadow: 0 4px 8px var(--shadow-color);
      box-shadow: 0 4px 8px var(--shadow-color);
    }
    .table-wrap .pre-table {
      background: var(--bg-grey-lighter);
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .modal-wrap {
    width: 600px;
    min-height: 200px;
    background: #fff;
    box-sizing: border-box;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 10px 30px;
    box-sizing: border-box;
    img {
      cursor: pointer;
      padding: 5px;
      margin-left: 20px;
    }
  }
  .modal-content {
    padding: 20px 30px;
  }
  form {
    width: 100%;
  }
  
  @media only screen and (max-width: 650px) {
    .modal-wrap {
      width: 90%;
    }
  }
  .tbl-pagination {
    display: flex;
    color: var(--disabled);
    span {
      padding-left: 20px;
    }
    svg {
      cursor: pointer;
      margin-left: 20px;
    }
  }
  .input-group {
    display: block;
    width: 100%;
    margin: 20px 0;
    .input-group-label {
      font-size: 1.4rem;
      color: var(--text-secondary);
    }
    input {
      width: 100%;
      padding: 6px;
      border: 1px solid var(--bg-grey-dark);
      box-sizing: border-box;
    }
  }